<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Signup</h1></br>
//below snippet display error from server. have to display password validation also using this snippet.
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}

        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>

            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>

            <div class="form-group">
                <label for="password"> Re-enter Password</label>
                <input type="password" id="password2" name="password2" class="form-control">
            </div>

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </br>

            <button type="submit" class="btn btn-primary" onClick='return Validate()'>Signup</button>
        </form>

    </div>
</div>
//validating password here. using alert to display.
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("password2").value;
        if (password != confirmPassword) {
            alert('Passwords Donot Match!')
            return false;
        }
        return true;
    }
</script>
